@model Task2.Models.UserModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="button" class="btn btn-danger" id="confirmDelete" data-id="@Model.Id">Delete</button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('#confirmDelete').click(function () {
            var userId = $(this).data('id');

            if (confirm("Are you sure you want to delete this user?")) {
                $.ajax({
                    url: '/Home/DeleteConfirm/' + userId,
                    type: 'POST',
                    success: function (data) {
                        $('#userTableBody').html(data); // Refresh user list
                        $('#modalContainer').html(''); // Close the modal
                    },
                    error: function () {
                        alert("An error occurred while deleting the user.");
                    }
                });
            }
        });
    });
</script>